In [1]:
import pandas as pd
from time import time
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv('yellow_tripdata_2021-01.csv.gz', nrows=100)

In [3]:
pd.io.sql.get_schema(df, 'yellow_taxi_data')

'CREATE TABLE "yellow_taxi_data" (\n"VendorID" INTEGER,\n  "tpep_pickup_datetime" TEXT,\n  "tpep_dropoff_datetime" TEXT,\n  "passenger_count" INTEGER,\n  "trip_distance" REAL,\n  "RatecodeID" INTEGER,\n  "store_and_fwd_flag" TEXT,\n  "PULocationID" INTEGER,\n  "DOLocationID" INTEGER,\n  "payment_type" INTEGER,\n  "fare_amount" REAL,\n  "extra" REAL,\n  "mta_tax" REAL,\n  "tip_amount" REAL,\n  "tolls_amount" REAL,\n  "improvement_surcharge" REAL,\n  "total_amount" REAL,\n  "congestion_surcharge" REAL\n)'

In [4]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [5]:
engine  = create_engine('postgresql://root:root@localhost:5431/ny_taxi')

In [6]:
engine.connect()

In [7]:
print(pd.io.sql.get_schema(df, 'yellow_taxi_data', con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [8]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv.gz', iterator=True, chunksize=100000)

In [9]:
df  = next(df_iter)

In [10]:
df.head(n=0).to_sql(name = 'yellow_taxi_data',con=engine, if_exists='replace')

0

In [11]:
%time df.to_sql(name = 'yellow_taxi_data',con=engine, if_exists='append')

CPU times: user 3.79 s, sys: 200 ms, total: 3.99 s
Wall time: 8.58 s

1000

In [12]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name = 'yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    
    print('inserted anotherchunk..., took %.3f seconds' %(t_end - t_start))

inserted anotherchunk..., took 9.602 seconds
inserted anotherchunk..., took 9.556 seconds
inserted anotherchunk..., took 9.766 seconds
inserted anotherchunk..., took 10.304 seconds
inserted anotherchunk..., took 9.610 seconds
inserted anotherchunk..., took 9.574 seconds
inserted anotherchunk..., took 9.680 seconds
inserted anotherchunk..., took 9.553 seconds
inserted anotherchunk..., took 9.747 seconds
inserted anotherchunk..., took 9.669 seconds
inserted anotherchunk..., took 9.529 seconds

/tmp/ipykernel_2678/3191943374.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted anotherchunk..., took 9.630 seconds
inserted anotherchunk..., took 6.006 seconds

StopIteration:

In [13]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv

--2023-01-03 20:25:36--  https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 18.160.201.126, 18.160.201.50, 18.160.201.131, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|18.160.201.126|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [text/csv]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2023-01-03 20:25:36 (223 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [14]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [15]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [16]:
df_zones.to_sql(name = 'zones', con=engine, if_exists='replace')

265